/* Force scrollbar */

html {
	height: 100%;
}


body {
	line-height: 19.5px;
	/* [disabled]font-size: 10px; */
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #777;
	font-size: 13px;
	height: 100%;
}
	
.p {
	line-height: 14px;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #999;
	font-size: 10px;
}

.p_blk {
	padding-right: 0;
	padding-left: 0px;
	padding-bottom: 0;
	color: #000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	position: static;
	margin-top: 0px;
	margin-bottom: 0px;
}


.p_blk_b {
	margin: 0;
	padding: 0;
	color: #000;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: 16px;
	font-weight: bold;
}


.p_11 {
	margin: 0;
	padding: 0;
	color: #777;
	font-size: 13px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: 19.5px;
}

.head_14 {
	margin: 0;
	padding: 0;
	color: #000;
	font-size: 18px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: 22px;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
}

.head_10 {
		margin: 0;
	padding: 0;
	color: #000;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: 16px;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;

}

a:link {
	color: #999;
	font-size: 13px;
	text-decoration: none;
}
a:visited {
	color: #999999;
	color: 999999;
	color: #999;
	text-decoration: none;
}

a:hover {
	color: #000000;
	text-decoration: none;
}

a.class2:link {
	color: #FFF;
	text-decoration: none;
}
a.class2:visited {
	color: #FFF;
	text-decoration: none;
}

a.class2:hover {
	color: #000;
	text-decoration: none;
}

.r {
	color: #93C43A;
	text-decoration: none;
	font-size: 13px;
	/* [disabled]line-height: 16px; */
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, sans-serif;
}
.r:visited {
	color: #94C43A;
	text-decoration: none;

}
.r:link {
	color:#93C43A;
	text-decoration: none;
}
.r:hover {
	color:#93C43A;
	text-decoration: none;
}


.b1:link {
	color: #000;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	text-decoration: none;
}
.b1:visited {
	color: #000;
	text-decoration: none;
}

.b1:hover {
	color: #94C43A;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	text-decoration: none;
}


.bold:link {
	margin: 0;
	padding: 0;
	color: #000;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: 16px;
	font-weight: bold;
}
.bold:visited {
	color: #000;
	text-decoration: none;
}

.bold:hover {
	margin: 0;
	padding: 0;
	color: #93C43A;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: 16px;
	font-weight: bold;
}



/* ~~ Element/tag selectors ~~ */
ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
}

a img {
	border: none;
}


.container-all {
	width: 1010px;
	margin-top: 0;
	margin-right: auto;
	margin-left: auto;
	padding-top: 0px;
	overflow-x: hidden;
	padding-bottom: 40px;
}


.green_bar {
	background: transparent url(../images/162x162.gif) top left repeat-x;
	height: 85px;
	width: 100%;
	position: absolute;
	left: 0px;
	top: -1px;
	visibility: inherit;
	z-index: -1;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
}


.header{
	height: 75px;
	width: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	visibility: inherit;
	z-index: -1;
}
#top_navigation {
	width: 687px;
	height: auto;
	height: 39px;
	overflow: visible;
	/* [disabled]top: inherit; */
	padding-top: 57px;
	padding-bottom: 28px;
	font-size: 9px;
	float: left;
	margin-left: 650px;
} 

#top_logo  {
	visibility: visible;
	position: absolute;
	top: 15px;
	width: 100px;
	height: 52px;
	float: left;
	padding-left: 1px;
}

.left_nav {
	float: left;
	width: 135px;
	padding-bottom: 0px;
	position: static;
	padding-top: 48px;
}


.main_title {
	width: 570px;
	float: top;
	padding-bottom: 14px;
}
.main_title1 {
	width: 570px;
	float: top;
	padding-bottom: 2px;
}
.main_title_t {
	width: 570px;
	float: top;
	padding-bottom: 8px;
}
.content {
	width: 570px;
	float: left;
	height: auto;
}
.content-services {
	width: 870px;
	float: top;
	height: auto;
}

.main_text {
	width: 420px;
	float: left;
	height: auto;
	padding-top: 0px;
}


.media_content {
	width: 570px;
	float: top;
	overflow: hidden;
}


.media_content {
	width: 570px;
	float: top;
	overflow: hidden;
}
.media_content_870 {
	width: 870px;
	float: top;
	overflow: hidden;
	font-size: 10px;
	line-height: 12px;
}

.media_content_contact {
	width: 570px;
	float: top;
	height: 321px;
	overflow: visible;
	line-height: 17px;
	font-size: 12px;
}

.media_content355 {
	width: 525px;
	float: top;
	height: 354px;
	overflow: hidden;
}


.media_content2 {
	width: 270px;
	float: top;
	height: 152px;
	
}


.right_sidebar {
	float: left;
	width: 150px;
	padding-top: 0px;
	height: auto;
	padding-left: 30px;
	font-size: 10px;
	line-height: 16px;
}


.right_sidebar2 {
	float: left;
	width: 150px;
	padding-top: 0px;
	height: auto;
	padding-left: 30px;
	font-size: 10px;
	line-height: 16px;
}



.right_setac {
	float: left;
	width: 120px;
	height: auto;
	margin-top: 40px;
	margin-left: 0px;
}

.share_top {
	float: right;
	width: 70px;
	padding-top: 6px;
	padding-left: 130px;
	height: auto;
	padding-right: 70px;
	padding-bottom: 14px;
}


.right_title {
	height: 40px;
	width: 250px;
}
.right_title1 {
	height: 38px;
}

/* ~~ The footer styles ~~ */
.footer {
	position: relative;
	color: #999;
	background-color: #f4f4f4;
	width: 100%;
	clear: both;
	bottom: 0px;
	height: 600px;
	min-width: 100%;
	margin-left: auto;
	margin-right: auto;
	top: 30px;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;	
	
}
.clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the .container) if the .footer is removed or taken out of the .container */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;

}

h1 {
	font-size: 13px;
	font-weight: bold;
	color: #000;
	line-height: 19.5px;
}

h2	{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #93C43A;
}

h3	{
	font-size: 20px;
	color: #93C43A;
	line-height: 26px;
	font-family: Verdana, Geneva, sans-serif;
	font-style: normal;
}
h4
	{font-size: 10px;
	color: #000;
	line-height: 26px;
	font-family: Verdana, Geneva, sans-serif;
	font-style: normal;

}

h5,h6 {
	font-family: Verdana, Geneva, sans-serif;
	
}



.container .content .main_text .p_blk .p_blk #displayText b {
	color: #000;
}
#offices {
}
#map {
	display: none;
	position: absolute;
	clear: both;
	z-index: 999;
}
b2 {
	color:#000;
	font-weight:bold;
}
